#back{
    background-color: #121212;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}


#spotify-logo{
    margin-right: 350px;
}
h2{
    font-size:medium;
}
#home{
    background-color: #7c7c7c15;
    border-radius:100px ;
    
}
.logo{
    width: 40px;
    height: 40px;
    filter:invert(100%);
}
p{
    border:2px;
}
nav{
    display:flex;
    justify-content: space-between;
    height: 60px;
}
.bar{
    display:flex;
    align-items: center;
    font-size: smaller;
    gap:20px;
}
#search{
    display: flex;
    align-content:center;
    background-color: #7c7c7c15;
    border-radius: 100px;
    width: 400px;
    height: 40px;
   color:#7c7c7c60;
   
}  
#play{
    padding-right: 150px;
    border-right: white 1px solid;
    color:#7c7c7c;
    font-size:small;
}
.grey-words{
    color:#b3b3b3;
}
#load{
    padding-right: 50px;
    border-right: white 1px solid;
    color:#b3b3b3;
}

#right-nav{
    display:flex;
    font-size:12px;
    
    
}
#log{
    padding-left: 20px;
}
#log-in{
    background-color: #ffff;
    border-radius: 100px;
    color:black;
    width: 110px;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#download{ 
 filter:invert(50%);
 height: 15px;
 width: 15px;
 border:solid #ffff ;
border-radius: 50px;
}

#install{
    display: flex;
    align-items: center;

}
#in{
    padding-left: 5px;
}
#prem{
    padding-right: 20px;
}
.help-words{
    color:white;
    padding: 10px;
    font-size: 12px;
    
}
main{
    display:grid;

}
#library{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
    text-align: center;
}
#lib{
    font-size:larger;
    padding:10px;
    margin-left: 15px;
}
#add{
    width: 20px;
    height: 20px;
    padding-right: 30px;

}
.additions{
    color:#ffff;
    background-color:#7c7c7c20;
    border-radius:5px;
    margin:12px;
    height:140px;
}
.additions-content{
    padding:6px;
    padding-left: 12px;
}
.additions-buttons{
    border-radius: 50px;
    background-color: #ffffff;
    padding:6px;
    padding-left: 12px;
    color: black;
    max-width:115px;
    font-size: small;
    justify-content: center;
    align-items: center;
    padding-left:15px;
    margin-left: 15px;
}
.aside-words{
    display:flex;
    gap: 20px;
    font-size:smaller;
}
#privacy{
    background-color: #1ABC5490;
    border-radius:50px;
    max-width: 137px;
    font-size:small;
}
#aside-stuff{
    display:flex;
   
}
#check{
    max-width: 80px;
    max-height: 80px;
}
.help-words{
    color:white;
    font-size: larger;
    display:flex
   
}
#Main{
    display: flex;
    justify-content: space-between;
    
}
#side{
    background-color: #7c7c7c15;
    width:25vw;
    border-radius: 5px;

}
main{
     Background-color:#7c7c7c15;
     width:73vw;
     border-radius: 5px;
    }
    #pop{
     font-size: xx-large;
     margin-top: 70px;
    }
.album-art{
    height: 140px;
    width:140px;
    border-radius: 3px;
}
.albums-wrapper{
   
    justify-content: left;
    display:grid;
    grid-template-columns:repeat(8,1fr) ;
    color:white;
           
}
.album-container{
    Width:140px;
    max-width: 140px;
    overflow-wrap: break-word; 
    padding:10px;
}

h2{
    color:white;
}
footer{
    row-gap:10px;
    
}